
@{
}

<div class="contianer">
	<div class="row">
		<div class="col">
            <div class="row mt-5">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <table class="table text-center">
                                <thead>
                                    <tt class=text-center>

                                        <td>رقم </td>
                                        <td>رقم المنتج </td>
                                        <td>اسم الكيك </td>
                                        <td>وصف الكيك </td>
                                        <td>السعر</td>
                                        <td>فئة الكيك</td>
                                        <td>صورة الكيك </td>
                                        <td class="text-center" colspan="2">اجرائ</td>
                                    </tt>
                                </thead>

                                <tbody>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td> @item.Id</td>
                                                <td> @item.ProductId</td>
                                                <td> @item.Name</td>
                                                <td> @item.Description</td>
                                                <td> @item.Price </td>
                                                <td> @item.Category</td>
                                                <td><img src="/images/@item.Image" width="60" height="60" class="rounded rounded-circle" /></td>

                                                <td>
                                                    <a onclick="showmessage1(@item.Id)"> <i class="fa fa-trash text-danger" aria-hidden="true"></i></a>

                                                </td>
                                                <td>

                                                    <a asp-action="EditProducts" asp-route-id="@item.Id"><i class="fa fa-pencil text-success" aria-hidden="true"></i></a>
                                                </td>

                                            </tr>

                                        }
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>
